html {
    background-color: rgb(238, 238, 238);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 500px;
    background-color: rgb(56, 56, 56);
    border-radius: 20px;
    box-shadow: 10px 10px 5px grey;
    align-items: center;
    border: 10px black solid;
}

.display {
    height: 100px;
    width: 425px;
    background-color: rgb(224, 224, 224);
    margin-top: 20px;
    border: 5px black solid;
    font-size: 100px;
    text-align: end;
    
}

.buttons {
    height: 400px;
    width: 450px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.operators {
    display: flex;
    justify-content: center;
}

.display-clear {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttons * * {
    color: white;
    font-size: 50px;
    margin: 5px;
    border: black 5px solid;
}
.btn:hover {
    opacity: 0.75 ;
}


.numbers * {
    background-color: grey;
    text-align: center;
    height:max-content;
    width: 17%
}

.display-clear * {
    background-color: rgb(190, 121, 121);
    text-align: center;
    width:46%;
    height: max-content;
}

.operators * {
    background-color: royalblue;
    text-align: center;
    height: max-content;
    width: 13.8%;
}
